@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.c_mobile_menu_button {
  @include button-reset;
  @include flex-center;

  width: 4rem;
  height: 4rem;
  border-radius: $border-radius-md;
  color: $text-primary;
  transition: $transition-bg;

  // lg以上で非表示
  @include lg {
    display: none;
  }

  &:hover {
    background-color: $background-secondary;
  }

  &:focus-visible {
    @include focus-visible;
  }
}
