@use '@/styles/variables' as *;

.c_settings_page {
  max-width: 720px;
  padding: $spacing-8;
}

.c_settings_page__sections {
  display: flex;
  flex-direction: column;
  gap: $spacing-10;
  margin-top: $spacing-8;
}

.c_settings_page__section {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
  padding-bottom: $spacing-8;
  border-bottom: $border-width-1 solid $border-color;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}
