NEXT_PUBLIC_APP_URL=

# NextAuth.js
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# TMDb API
NEXT_PUBLIC_TMDB_API_KEY=your-tmdb-api-token

# Playwright (テスト用)
PLAYWRIGHT_BROWSERS_PATH=node_modules/.cache/ms-playwright


E2E_TEST_USER_EMAIL=your_email
E2E_TEST_USER_PASSWORD=your_account
