@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.c_search_results {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;

  @include md {
    gap: $spacing-6;
  }

  &__count {
    margin: 0;
    font-size: $font-size-sm;
    color: $text-secondary;
  }

  &__pagination {
    margin-top: $spacing-4;
    display: flex;
    justify-content: center;
  }
}
