@use '@/styles/variables' as *;

.c_theme_settings {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.c_theme_settings__select {
  max-width: 200px;
}

.c_theme_settings__description {
  margin: 0;
  font-size: $font-size-xs;
  color: $text-secondary;
}
