@use '@/styles/variables' as *;

.c_movie_tile_skeleton {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__poster {
    aspect-ratio: 2 / 3;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
    padding: $spacing-3;
  }
}
